<div class="card">
  <div class="card-block">
    <div class="card-title flex-between">
      <div>Ownership restructure</div>
      <div class="flex-between">
        <div class="flex-between"><p><em class="text-muted">binding status:</em>&nbsp;</p><bind-status [status]="Application.BindStatus"></bind-status></div>
        <application-status [status]="Application.Status"></application-status>
      </div>
    </div>

    <div class="flex-between">
      <p class="card-text text-muted"><em>{{Application.Id}}</em></p>
      <p class="card-text" style="margin-right: 0.5rem"><em class="text-muted">right id: <a target="_blank">{{Application.AssociatedWork?.RightId}}</a></em></p>
    </div>

    <div><em class="text-muted">transaction:</em>&nbsp;&nbsp;<a target="_blank" [href]="Application.TransactionUri">{{Application.TransactionId}}</a></div>

    <div style="display: flex">
      <p class="card-text" style="margin-right: 0.5rem"><b>created:</b> {{Application.Created | date:'medium'}}</p>
      <p class="card-text"><b>modified:</b> {{Application.Modified | date:'medium'}}</p>
    </div>

    <div id="current-ownership">
      <h4>Current ownership structure</h4>
      <hr/>
      <ownership-structure-view [OwnershipStructure]="Application.CurrentStructure" *ngIf="Application"></ownership-structure-view>
    </div>

    <div id="proposed-ownership">
      <h4>Proposed ownership structure</h4>
      <hr/>
      <ownership-structure-view [OwnershipStructure]="Application.ProposedStructure" *ngIf="Application"></ownership-structure-view>
    </div>
  </div>
</div>
