<clr-alert clrAlertType="info" [clrAlertClosable]="false">
  <clr-alert-item>
          <span class="alert-text">
            <div class="flex-between">
              <span style="margin-right: 0.6rem">
                This copyright has been flaged as expired and is now in the public domain<br>
                If this is incorrect sync with the blockchain<br>
                <button class="btn btn-sm" (click)="Sync()">Sync with blockchain</button>
              </span>
            </div>
          </span>
  </clr-alert-item>
</clr-alert>

<div class="card">
  <div class="card-block">
    <div class="card-title flex-between">
      <div><em>"{{Copyright.Title}}"</em></div>
      <copyright-status [status]="Copyright.Status"></copyright-status>
    </div>
    <div class="card-text">

      <div class="flex-between">
        <p class="card-text text-muted"><em><a [routerLink]="['/cpy',Copyright.Id]">{{Copyright.Id}}</a></em></p>
        <p class="card-text" style="margin-right: 0.5rem"><em class="text-muted">right id: <a target="_blank">{{Copyright?.RightId}}</a></em></p>
      </div>

      <div><em class="text-muted">transaction:</em>&nbsp;&nbsp;<a target="_blank" [href]="Copyright.RegisteredTransactionUri">{{Copyright.RegisteredTransactionId}}</a></div>

      <div style="display: flex">
        <p class="card-text" style="margin-right: 0.5rem"><b>created:</b> {{Copyright.Created | date:'medium'}}</p>
        <p class="card-text"><b>registered:</b> {{Copyright?.Registered | date:'medium'}}</p>
      </div>

      <div id="applications" *ngIf="Copyright.AssociatedApplication">
        <h4>Applications</h4>
        <work-applications [Copyright]="Copyright"></work-applications>
      </div>
    </div>
  </div>
</div>
