<div id="form-wrapper">
  <form clrForm clrLayout="compact" clrLabelSize="4" [formGroup]="Form">
    <clr-datalist-container>
      <label>Sharholders address (wallet public address)</label>
      <input clrDatalistInput formControlName="Owner" placeholder="wallet address" name="owner" autocomplete="off" required/>
      <datalist>
<!--        <option *ngFor="let user of LikeUsers" [value]="user.WalletPublicAddress">{{user.FirstName}} {{user.LastName}}</option>-->
      </datalist>
      <clr-control-error>This field cannot be empty!</clr-control-error>
    </clr-datalist-container>

    <clr-range-container [clrRangeHasProgress]="true">
      <label>Number of shares</label> <input type="range" min="1" [max]="MaximumShares" clrRange name="share" formControlName="Share" required/>
      <clr-control-helper>{{Form.value['Share']}} share(s)</clr-control-helper>
    </clr-range-container>
  </form>

  <button [disabled]="isDefault" (click)="Remove()" class="btn btn-danger">-</button>
  <button (click)="Lock()" class="btn" [disabled]="Form.disabled">Lock</button>
  <button (click)="UnLock()" class="btn" [disabled]="Form.enabled">Un-Lock</button>
</div>
