<clr-alert clrAlertType="danger" [clrAlertClosable]="false" *ngIf="NoWork">
  <clr-alert-item>
    <span class="alert-text">No work found!</span>
  </clr-alert-item>
</clr-alert>

<div id="form-wrapper" *ngIf="!NoWork">
  <form clrForm clrLayout="compact" [formGroup]="RestructureForm" clrLabelSize="4">

    <h4>Restructure application</h4>

    <clr-alert clrAlertType="danger" [clrAlertClosable]="false" *ngIf="!RegisteredWork.OwnershipStructure">
      <clr-alert-item>
        <span class="alert-text">No current ownership structure found!</span>
      </clr-alert-item>
    </clr-alert>

    <div id="current-ownership">
      <h4>Current ownership structure</h4>
      <hr/>
      <ownership-structure-view [OwnershipStructure]="RegisteredWork.OwnershipStructure" *ngIf="RegisteredWork.OwnershipStructure"></ownership-structure-view>
    </div>

    <div id="proposed-ownership">
      <h4>Proposed ownership structure</h4>
      <hr/>
      <ownership-structure-form [Form]="ProposedStructure"></ownership-structure-form>
    </div>

    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="ula" required value="ula" [formControl]="Accepted"/> <label>accept ula</label>
    </clr-checkbox-wrapper>

    <button class="btn btn-primary" [disabled]="RestructureForm.invalid || Accepted.invalid" (click)="Submit()">Submit</button>

  </form>
</div>
