<div id="nav-and-logo">
  <img src="assets/crpl.png" alt="CRPL">
  <header class="header-7">
    <div class="header-nav">
      <a class="nav-link nav-text" [routerLinkActive]="['/']" [routerLink]="['/']">Index</a>
      <a class="nav-link nav-text" [routerLinkActive]="['/search']" [routerLink]="['/search']">Search</a>
      <a class="nav-link nav-text" [routerLinkActive]="['/']" [routerLink]="['/']">About</a>

    </div>
    <div class="header-actions clr-align-items-center">
      <a class="nav-link nav-text" [routerLink]="['/register']">Register</a>
      <login-button></login-button>
    </div>
  </header>
</div>
