<div id="copyright-card">
  <div class="card">
    <div class="card-block">
      <div class="card-title flex-between">
        <div><em>"{{Copyright.Meta?.Title}}"</em></div>
        <copyright-status [status]="Copyright.Status"></copyright-status>
      </div>
      <div class="card-text" id="copyright-info">

        <div class="flex-between">
          <p class="card-text text-muted"><em><a [routerLink]="['/cpy',Copyright.Id]">{{Copyright.Id}}</a></em></p>
          <p class="card-text" style="margin-right: 0.5rem"><em class="text-muted">right id: <a target="_blank">{{Copyright?.RightId}}</a></em></p>
        </div>

        <div><em class="text-muted">transaction:</em>&nbsp;&nbsp;<a target="_blank" [href]="TransactionLink(Copyright.RegisteredTransactionId)">{{Copyright.RegisteredTransactionId}}</a></div>

        <div style="display: flex">
          <p class="card-text" style="margin-right: 0.5rem"><b>created:</b> {{Copyright.Created | date:'medium'}}</p>
          <p class="card-text"><b>registered:</b> {{Copyright?.Registered | date:'medium'}}</p>
        </div>

        <div class="card-text">
          <pre [innerHtml]="Meta"></pre>
        </div>

      </div>

      <div *ngIf="Copyright.OwnershipStructure" id="ownership-structure">
        <h4>Ownership structure</h4>
        <ownership-structure-view [OwnershipStructure]="Copyright.OwnershipStructure"></ownership-structure-view>
      </div>

      <clr-alert clrAlertType="info" [clrAlertClosable]="false" *ngIf="Copyright.HasProposal">
        <clr-alert-item>
          <span class="alert-text"><span style="margin-right: 0.6rem">This copyright has a proposal that needs binding</span>
            <button class="btn btn-sm" (click)="BindRestructure()">Bind</button><button class="btn btn-sm btn-danger" (click)="RejectRestructure()">Reject</button></span>
        </clr-alert-item>
      </clr-alert>

      <div id="applications" *ngIf="Copyright.AssociatedApplication">
        <h4>Applications</h4>
        <clr-accordion>
          <clr-accordion-panel *ngFor="let application of Copyright.AssociatedApplication">
            <clr-accordion-title>{{application.Id}}
              <application-status [status]="application.Status"></application-status>
              <application-type [Application]="application"></application-type>
            </clr-accordion-title>
            <clr-accordion-content *clrIfExpanded>{{application.Created | date:'long'}} {{application.Modified | date:'long'}}</clr-accordion-content>
          </clr-accordion-panel>
        </clr-accordion>
      </div>

    </div>
    <div class="card-footer" *ngIf="ShowActions">
      <button class="btn btn-sm" (click)="RestructureOpen = true" [disabled]="!IsRestructureAllowed">Restructure ownership</button>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="RestructureOpen" clrModalSize="xl">
  <h3 class="modal-title">Restructure ownership</h3>
  <div class="modal-body">
    <cpy-restructure-form *ngIf="RestructureOpen" [RegisteredWork]="Copyright" [ExistingApplication]="ExistingRestructure"></cpy-restructure-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="RestructureOpen = false; CancelRestructure()">Cancel</button>
  </div>
</clr-modal>

<!--{{Copyright | json}}-->
