<clr-alert clrAlertType="danger" [clrAlertClosable]="false" *ngIf="!Meta">
  <clr-alert-item>
          <span class="alert-text">
            <div class="flex-between">
              <span style="margin-right: 0.6rem">
                Metadata cannot be found on the blockchain! has the copyright been changed by an external transaction not from this system?<br>
                Try syncing this copyright with the blockchain<br>
                <button class="btn btn-sm" (click)="Sync()">Sync with blockchain</button>
              </span>
            </div>
          </span>
  </clr-alert-item>
</clr-alert>

<div *ngIf="!Copyright">
  <img src="https://i.giphy.com/media/l2JJKs3I69qfaQleE/giphy.webp"/>

  <clr-alert clrAlertType="danger" [clrAlertClosable]="false">
    <clr-alert-item>
          <span class="alert-text">
              <span style="margin-right: 0.6rem">The copyright your looking for cannot be found!</span>
          </span>
    </clr-alert-item>
  </clr-alert>
</div>

<div id="copyright-card" *ngIf="Copyright">
  <div class="card">
    <div class="card-block">
      <div class="card-title flex-between">
        <div><em>"{{Copyright.Meta?.Title}}"</em></div>
        <copyright-status [status]="Copyright.Status"></copyright-status>
      </div>
      <div class="card-text" id="copyright-info">

        <div class="flex-between">
          <p class="card-text text-muted"><em><a [routerLink]="['/cpy',Copyright.Id]">{{Copyright.Id}}</a></em></p>
          <p class="card-text" style="margin-right: 0.5rem"><em class="text-muted">right id: <a target="_blank">{{Copyright?.RightId}}</a></em></p>
        </div>

        <div><em class="text-muted">transaction:</em>&nbsp;&nbsp;<a target="_blank" [href]="Copyright.RegisteredTransactionUri">{{Copyright.RegisteredTransactionId}}</a></div>

        <div style="display: flex">
          <p class="card-text" style="margin-right: 0.5rem"><b>created:</b> {{Copyright.Created | date:'medium'}}</p>
          <p class="card-text"><b>registered:</b> {{Copyright?.Registered | date:'medium'}}</p>
        </div>

        <clr-alert clrAlertType="info" [clrAlertClosable]="false" *ngIf="ShowActions">
          <clr-alert-item>
          <span class="alert-text">
            <div class="flex-between">
              <span style="margin-right: 0.6rem">We've generated a digital master of the work you uploaded with a unique signature and relevant metadata showing your registration of this copyright</span>
              <button class="btn btn-sm" (click)="Download()">Download</button>
            </div>
          </span>
          </clr-alert-item>
        </clr-alert>

        <div class="card-text">
          <pre [innerHtml]="Meta"></pre>
        </div>

      </div>

      <div *ngIf="Copyright.OwnershipStructure" id="ownership-structure">
        <h4>Ownership structure</h4>
        <ownership-structure-view [OwnershipStructure]="Copyright.OwnershipStructure"></ownership-structure-view>
      </div>

      <clr-alert clrAlertType="info" [clrAlertClosable]="false" *ngIf="Copyright.HasProposal">
        <clr-alert-item>
          <span class="alert-text">
            <span style="margin-right: 0.6rem">This copyright has a proposal that needs binding</span>
            <button class="btn btn-sm" (click)="BindRestructure()">Bind</button><button class="btn btn-sm btn-danger" (click)="RejectRestructure()">Reject</button>
          </span>
        </clr-alert-item>
      </clr-alert>

      <div id="applications" *ngIf="Copyright.AssociatedApplication">
        <h4>Applications</h4>
          <work-applications [Copyright]="Copyright"></work-applications>
      </div>

    </div>
    <div class="card-footer" *ngIf="ShowActions">
      <button class="btn btn-sm" (click)="RestructureOpen = true" [disabled]="!IsRestructureAllowed">Restructure ownership</button>
      <button class="btn btn-sm" (click)="Sync()">Sync with blockchain</button>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="RestructureOpen" clrModalSize="xl">
  <h3 class="modal-title">Restructure ownership</h3>
  <div class="modal-body">
    <cpy-restructure-form *ngIf="RestructureOpen" [RegisteredWork]="Copyright"></cpy-restructure-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="RestructureOpen = false; CancelRestructure()">Cancel</button>
  </div>
</clr-modal>

<!--{{Copyright | json}}-->
