<clr-wizard #wizard [clrWizardOpen]="open" (clrWizardOpenChange)="Closed()" (clrWizardOnFinish)="Finished()" [clrWizardPreventDefaultNext]="false">
  <clr-wizard-title>Account Info</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'" [clrWizardButtonDisabled]="Locked">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'" [clrWizardButtonDisabled]="Locked">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'" [clrWizardButtonDisabled]="Locked">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" [clrWizardButtonDisabled]="Locked || FirstPageForm.invalid || SecondPageForm.invalid || HasNoContact">Done</clr-wizard-button>

  <clr-wizard-page #pageOne [clrWizardPageNextDisabled]="!FirstPageForm.valid">
    <ng-template clrPageTitle>Basic Information</ng-template>
    <ng-template clrPageNavTitle>Basic Info</ng-template>

    <form clrForm clrLayout="horizontal" [formGroup]="FirstPageForm">

      <div class="input-container">
        <div class="input-label">First name<sup>*</sup></div>
        <div class="input-control">
          <input type="text" name="firstName" formControlName="FirstName" placeholder="John"/>
          <clr-alert class="input-error" [clrAlertClosable]="false" clrAlertType="danger" *ngIf="InvalidAndUntouched('FirstName', true)">
            <clr-alert-item>This field is required!</clr-alert-item>
          </clr-alert>
        </div>
      </div>

      <div class="input-container">
        <div class="input-label">Last name<sup>*</sup></div>
        <div class="input-control">
          <input type="text" name="lastName" formControlName="LastName" placeholder="Smith"/>
          <clr-alert class="input-error" [clrAlertClosable]="false" clrAlertType="danger" *ngIf="InvalidAndUntouched('LastName', true)">
            <clr-alert-item>This field is required!</clr-alert-item>
          </clr-alert>
        </div>
      </div>

      <div class="input-container">
        <div class="input-label">Date of birth<sup>*</sup></div>
        <div class="input-control">
          <input type="date" name="DOB" formControlName="DOB"/>
          <clr-alert class="input-error" [clrAlertClosable]="false" clrAlertType="danger" *ngIf="InvalidAndUntouched('DOB', true)">
            <clr-alert-item>This field is required!</clr-alert-item>
          </clr-alert>
        </div>
      </div>

      <div class="input-container">
        <div class="input-label">Registered jurisdiction<sup>*</sup></div>
        <div class="input-control">
          <input type="text" list="RegisteredJurisdiction" formControlName="RegisteredJurisdiction">
          <datalist id="RegisteredJurisdiction">
            <option *ngFor="let country of countries" [value]="country.alpha3">{{country.country}}</option>
          </datalist>
          <clr-alert class="input-error" [clrAlertClosable]="false" clrAlertType="danger" *ngIf="InvalidAndUntouched('DOB', true)">
            <clr-alert-item>This field is required!</clr-alert-item>
          </clr-alert>
        </div>
      </div>

      <clr-alert clrAlertType="danger" *ngIf="FirstPageErrMessage != ''">
        <clr-alert-item>
          <span class="alert-text">{{FirstPageErrMessage}}</span>
        </clr-alert-item>
      </clr-alert>
    </form>
  </clr-wizard-page>

  <clr-wizard-page #pageTwo [clrWizardPageNextDisabled]="!SecondPageForm.valid">
    <ng-template clrPageTitle>Contact Information</ng-template>
    <ng-template clrPageNavTitle>Contact Info</ng-template>

    <form clrForm clrLayout="horizontal" [formGroup]="SecondPageForm">

      <div class="input-container">
        <div class="input-label">Dial code</div>
        <div class="input-control">
          <input type="text" list="DialCode" formControlName="DialCode">
          <datalist id="DialCode">
            <option *ngFor="let code of dialCode" [value]="code.dialCode">{{code.name}}</option>
          </datalist>
          <clr-alert class="input-error" [clrAlertClosable]="false" clrAlertType="danger" *ngIf="InvalidAndUntouched('DialCode', false)">
            <clr-alert-item>This field is required!</clr-alert-item>
          </clr-alert>
        </div>
      </div>

      <div class="input-container">
        <div class="input-label">Phone</div>
        <div class="input-control">
          <input type="text" name="phone" formControlName="PhoneNumber"/>
          <clr-alert class="input-error" [clrAlertClosable]="false" clrAlertType="danger" *ngIf="InvalidAndUntouched('PhoneNumber', false)">
            <clr-alert-item>This field is required!</clr-alert-item>
          </clr-alert>
          <clr-alert class="input-error" [clrAlertClosable]="false" clrAlertType="danger" *ngIf="SecondPageForm.controls.PhoneNumber.hasError('phoneExists')">
            <clr-alert-item>This phone number is already in use!</clr-alert-item>
          </clr-alert>
        </div>
      </div>

      <div class="input-container">
        <div class="input-label">E-mail</div>
        <div class="input-control">
          <input type="text" name="email" formControlName="Email"/>
          <clr-alert class="input-error" [clrAlertClosable]="false" clrAlertType="danger" *ngIf="InvalidAndUntouched('Email', false)">
            <clr-alert-item>This field is required!</clr-alert-item>
          </clr-alert>
          <clr-alert class="input-error" [clrAlertClosable]="false" clrAlertType="danger" *ngIf="SecondPageForm.controls.Email.hasError('emailExists')">
            <clr-alert-item>This email is already in use!</clr-alert-item>
          </clr-alert>
        </div>
      </div>

      <clr-alert clrAlertType="danger" *ngIf="HasNoContact">
        <clr-alert-item>
          <span class="alert-text">You must have one way of contacting</span>
        </clr-alert-item>
      </clr-alert>
    </form>

  </clr-wizard-page>

</clr-wizard>
