<clr-wizard #wizard [clrWizardOpen]="open" (clrWizardOpenChange)="Closed()" (clrWizardOnFinish)="Finished()" [clrWizardPreventDefaultNext]="false">
  <clr-wizard-title>Account Info</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'" [clrWizardButtonDisabled]="Locked">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'" [clrWizardButtonDisabled]="Locked">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'" [clrWizardButtonDisabled]="Locked">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" (click)="WizardFinished()" [clrWizardButtonDisabled]="Locked">Done</clr-wizard-button>

  <clr-wizard-page #pageOne [clrWizardPageNextDisabled]="!FirstPageForm.valid">
    <ng-template clrPageTitle>Basic Information</ng-template>
    <ng-template clrPageNavTitle>Basic Info</ng-template>

    <form clrForm clrLayout="horizontal" [formGroup]="FirstPageForm">
      <clr-input-container>
        <label>First name</label> <input clrInput name="firstName" required formControlName="FirstName"/>
        <clr-control-error>This field cannot be empty!</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label>Last name</label> <input clrInput name="lastName" required formControlName="LastName"/>
        <clr-control-error>This field cannot be empty!</clr-control-error>
      </clr-input-container>

      <clr-date-container>
        <label>Date of birth</label> <input type="date" clrDate name="DOB" formControlName="DOB"/>
      </clr-date-container>

      <clr-datalist-container>
        <label>Registered Jurisdiction</label> <input clrDatalistInput formControlName="RegisteredJurisdiction" placeholder="GBR" name="registeredJurisdiction"/>
        <datalist>
          <option *ngFor="let country of countries" [value]="country.alpha3">{{country.country}}</option>
        </datalist>
      </clr-datalist-container>

      <clr-alert clrAlertType="danger" *ngIf="FirstPageErrMessage != ''">
        <clr-alert-item>
          <span class="alert-text">{{FirstPageErrMessage}}</span>
        </clr-alert-item>
      </clr-alert>
    </form>
  </clr-wizard-page>

  <clr-wizard-page #pageTwo [clrWizardPageNextDisabled]="!SecondPageForm.valid">
    <ng-template clrPageTitle>Contact Information</ng-template>
    <ng-template clrPageNavTitle>Contact Info</ng-template>

    <form clrForm clrLayout="horizontal" [formGroup]="SecondPageForm">

      <clr-datalist-container>
        <label>Dial code</label> <input clrDatalistInput formControlName="DialCode" placeholder="44" name="dialCode"/>
        <datalist>
          <option *ngFor="let code of dialCode" [value]="code.dialCode">{{code.name}}</option>
        </datalist>
      </clr-datalist-container>

      <clr-input-container>
        <label>Phone</label> <input clrInput name="phoneNumber" formControlName="PhoneNumber"/>
        <clr-control-error *ngIf="SecondPageForm.controls.PhoneNumber.hasError('phoneExists')">This phone number is already in use</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label>E-mail</label> <input clrInput type="email" name="email" formControlName="Email"/>
        <clr-control-error *ngIf="SecondPageForm.controls.Email.hasError('emailExists')">This email is already in use</clr-control-error>
      </clr-input-container>

      <clr-alert clrAlertType="danger" *ngIf="SecondPageForm.controls.Email.hasError('hasNoContact')">
        <clr-alert-item>
          <span class="alert-text">You must have one way of contacting</span>
        </clr-alert-item>
      </clr-alert>
    </form>

  </clr-wizard-page>

</clr-wizard>
