<clr-alert clrAlertType="danger" [clrAlertClosable]="false" *ngIf="NoWork">
  <clr-alert-item>
    <span class="alert-text">No work found!</span>
  </clr-alert-item>
</clr-alert>

<div id="form-wrapper" *ngIf="!NoWork">
  <form clrForm clrLayout="compact" [formGroup]="RestructureForm" clrLabelSize="4">

    <ownership-structure-input [Form]="ProposedStructure"></ownership-structure-input>

    {{RestructureForm.value | json}}

    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="ula" required value="ula" formControlName="AcceptedUla"/> <label>accept ula</label>
    </clr-checkbox-wrapper>

  </form>
</div>
