<div id="form-wrapper">
  <form clrForm clrLayout="compact" [formGroup]="Form" clrLabelSize="4">
    <div class="input-container">
      <label class="input-label">Sharholder address<sup>*</sup></label>
      <div class="input-control">
        <input type="text" name="owner" formControlName="Owner" placeholder="0x0"/>
        <div>Public Ethereum addresses are acceptable&nbsp;<sup>*saved to the blockchain</sup></div>
        <clr-alert class="input-error" [clrAlertClosable]="false" clrAlertType="danger" *ngIf="Form.controls['Owner'].hasError('required')">
          <clr-alert-item>This field is required!</clr-alert-item>
        </clr-alert>
        <clr-alert class="input-error" [clrAlertClosable]="false" clrAlertType="danger" *ngIf="Form.controls['Owner'].hasError('NotRealShareholder')">
          <clr-alert-item>This field is required!</clr-alert-item>
        </clr-alert>
      </div>
    </div>

    <div class="input-container">
      <label class="input-label">Number of shares<sup>*</sup></label>
      <div class="input-control">
        <input type="range" min="1" [max]="MaximumShares" step="1" name="share" formControlName="Share"/>
        <div>{{Form.value['Share']}} share(s)&nbsp;<sup>*saved to the blockchain</sup></div>
      </div>
    </div>

  </form>

  <button [disabled]="isDefault" (click)="Remove()" class="btn btn-danger">-</button>
  <button (click)="Lock()" class="btn" [disabled]="Form.disabled">Lock</button>
  <button (click)="UnLock()" class="btn" [disabled]="Form.enabled">Un-Lock</button>
</div>
