<!--{{Application | json}}-->
<!--{{ApplicationAsync | async | json}}-->

<div *ngIf="ApplicationAsync | async as application">
  <div class="flex-between" *ngIf="Cancelable && application">
    <div></div>
    <button class="btn btn-danger btn-sm" style="margin-right: 0" (click)="Cancel()" *ngIf="application.Status < 2" [disabled]="Locked">
      <span style="margin-right:0.2rem">cancel application</span>
      <cds-icon shape="trash"></cds-icon>
    </button>
  </div>

  <span *ngIf="application.ApplicationType == 0">
    <cpy-registration-form [ApplicationAsync]="ApplicationAsync" *ngIf="ShowForms && application.Status == 0"></cpy-registration-form>
    <cpy-registration-view-submitted [ApplicationAsync]="ApplicationAsync" *ngIf="application.Status == 1"></cpy-registration-view-submitted>
    <cpy-registration-view [ApplicationAsync]="ApplicationAsync" *ngIf="!ShowForms || application.Status == 2"></cpy-registration-view>
    <cpy-registration-view-failed [ApplicationAsync]="ApplicationAsync" *ngIf="application.Status == 3"></cpy-registration-view-failed>
  </span>

  <span *ngIf="application.ApplicationType == 1">
    <cpy-restructure-form [RegisteredWork]="ExistingWork" [ApplicationAsync]="ApplicationAsync" *ngIf="ShowForms && application.Status == 0"></cpy-restructure-form>
    <cpy-restructure-view-submitted [ApplicationAsync]="ApplicationAsync" *ngIf="application.Status == 1 || application.Status == 3"></cpy-restructure-view-submitted>
    <cpy-restructure-view [ApplicationAsync]="ApplicationAsync" *ngIf="application.Status == 2"></cpy-restructure-view>
    <cpy-restructure-view-failed [ApplicationAsync]="ApplicationAsync" *ngIf="application.Status == 3"></cpy-restructure-view-failed>
  </span>

  <span *ngIf="application.ApplicationType == 2">
    <dispute-form [ApplicationAsync]="ApplicationAsync" *ngIf="application.Status == 0"></dispute-form>
    <dispute-view-submitted [ApplicationAsync]="ApplicationAsync" *ngIf="application.Status == 1"></dispute-view-submitted>
    <dispute-view-completed [ApplicationAsync]="ApplicationAsync" *ngIf="application.Status == 2"></dispute-view-completed>
  </span>
</div>
