/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.alert {
  z-index: 999999;
}

.text-muted {
  color: #999999 !important;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

pre {
  background: #292d3e;
  border-radius: 0.5rem !important;
  border-style: none;
  padding: 1rem;
}

pre span {
  white-space: normal;
  word-break: break-all !important;
}

.string {
  color: #c3e88d;
}

.number {
  color: #f78c6c;
}

.boolean {
  color: #C792EA;
}

.null {
  color: magenta;
}

.key {
  color: #c3e88d;
}

.punctuation {
  color: #c792ea;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.container {
  flex: 1;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 1rem;
}
