/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.alert {
  z-index: 999999;
}

.text-muted {
  color: #999999 !important;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

pre {
  background: #292d3e;
  border-radius: 0.5rem !important;
  border-style: none;
  padding: 1rem;
}

pre span {
  white-space: normal;
  word-break: break-all !important;
}

.string {
  color: #c3e88d;
}

.number {
  color: #f78c6c;
}

.boolean {
  color: #C792EA;
}

.null {
  color: magenta;
}

.key {
  color: #c3e88d;
}

.punctuation {
  color: #c792ea;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.container {
  flex: 1;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 1rem;
}

.input-container {
  display: flex;
  margin-bottom: 0.5rem;
}

.input-container > label {
  color: rgb(69, 69, 69);
  font-weight: bold;
  flex: 0;
  margin-top: 0.2rem;
  white-space: nowrap;
}

.input-control > input, select {
  padding: 0.2rem 0.5rem;
  display: inline-block;
  border: 1.5px solid #b1b1b1;
  flex: 1;
  border-radius: 4px;
}

.input-control > input[type=range] {
  margin-top: 0.6rem;
}

.input-control > textarea {
  padding: 0.2rem 0.5rem;
  display: inline-block;
  border: 1.5px solid #b1b1b1;
  flex: 1;
  border-radius: 4px;
}

.input-control > input::placeholder {
  color: #b1b1b1;
  font-style: italic;
}

.input-control > textarea::placeholder {
  color: #b1b1b1;
  font-style: italic;
}

.input-control > .input-error {
}

.input-control > div:first-of-type {
  padding: 0.1rem 0.2rem;
  font-style: italic;
}

.input-container > .input-control {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-section {
  border-bottom: solid #b1b1b1 1px;
  margin-bottom: 0.2rem;
}

.form-section > .section-title {
  font-size: large;
  padding: 0 0.2rem 0.2rem 0.2rem;
  border-bottom: solid #b1b1b1 1px;
  margin-bottom: 0.4rem;
}
