<div *ngIf="Owner | async">
  <h4>Resolve dispute</h4>
  <div>
    <button class="btn btn-primary btn-sm" (click)="Accept()" [disabled]="Application.ResolveResult.ResolvedStatus > 0">accept recourse</button>
    <button class="btn btn-danger btn-sm" (click)="Refuse()" [disabled]="Application.ResolveResult.ResolvedStatus > 0">refuse recourse</button>
  </div>
  <div id="OnChainActions" *ngIf="Application.ResolveResult.ResolvedStatus == 1">
    <button class="btn btn-sm" [disabled]="ProcessingTransaction" (click)="StartPayment()">Send compensation</button>
  </div>
  <progress *ngIf="Application.ResolveResult.ResolvedStatus == 2"></progress>
</div>

<div *ngIf="Application.ResolveResult.ResolvedStatus == 3">
  The dispute has been resolved
</div>

<div class="card">
  <div class="card-block">
    <div class="card-title">
      <div class="flex-between">
        <div>{{DisputeType}} dispute of <em>"{{Application.AssociatedWork?.Title}}"</em></div>
        <application-status [status]="Application.Status"></application-status>
      </div>
      <div class="flex-between">
        <p class="text-muted">copyright id: <em>{{Application.Id}}</em></p>
        <a style="margin-right: 0.5rem"><em>{{Application.AssociatedWork?.RightId}}</em></a>
      </div>
    </div>

    <hr/>

    <div class="flex-between">
      <p class="card-text text-muted"><em>{{Application.Id}}</em></p>
    </div>
    <div style="display: flex">
      <p class="card-text" style="margin-right: 0.5rem"><b>created:</b> {{Application.Created | date:'medium'}}</p>
      <p class="card-text"><b>modified:</b> {{Application.Modified | date:'medium'}}</p>
    </div>

    <div class="card-text" id="dispute-context">
      <div class="flex-between">
        <p class="card-text"><b>spotted: </b> {{Application.Spotted | date:'medium'}}</p>
        <p class="card-text"><b>number of infraction: </b> {{Application.Infractions}}</p>
      </div>
      <div id="dispute-meta">
        <div id="dispute-reason">
          <h5 class="card-text">Reason for dispute</h5>
          <p>{{Application.Reason}}</p>
          <a [href]="Application.LinkToInfraction">link to infraction</a>
        </div>
      </div>
    </div>

    <div class="card-text" id="recourse">
      <div *ngIf="Application.ExpectedRecourse == 0">
        <h5 class="card-text">The expected recourse is to transfer ownership to {{Application.AssociatedUsers[0].FirstName}} {{Application.AssociatedUsers[0].LastName}}</h5>
        <p class="text-muted"><em>{{Application.AssociatedUsers[0].Id}}</em></p>
        <p>contact the disputer here: {{Application.ContactAddress}}</p>
      </div>
      <div *ngIf="Application.ExpectedRecourse == 1">
        <h5 class="card-text">The expected recourse is to pay {{Application.ExpectedRecourseData}}eth to <a [href]="Application.AssociatedUsers[0].WalletAddressUri" target="_blank">{{Application.AssociatedUsers[0].WalletPublicAddress}}</a></h5>
        <p>contact the disputer here: {{Application.ContactAddress}}</p>
      </div>
    </div>

    <div class="card-text" id="accuser">
      <h5 class="card-text">Disputing user</h5>
      <hr/>
      <user-card [User]="Application.AssociatedUsers[0]"></user-card>
    </div>
  </div>
</div>
