<div id="form-wrapper">
  <form clrForm clrLayout="compact" [formGroup]="DisputeForm" clrLabelSize="4" autocomplete="off">

    <div class="input-container">
      <label class="input-label">Reason<sup>*</sup></label>
      <div class="input-control">
        <textarea name="reason" formControlName="Reason" placeholder="you don't own this" rows="10"></textarea>
        <div>This is a space for you to add any extra legal documentation to your copyright</div>
        <clr-alert class="input-error" [clrAlertClosable]="false" clrAlertType="danger" *ngIf="DisputeForm.controls['Reason'].hasError('required')">
          <clr-alert-item>This field is required!</clr-alert-item>
        </clr-alert>
      </div>
    </div>

    <div class="input-container">
      <label class="input-label">Contact address<sup>*</sup></label>
      <div class="input-control">
        <input type="text" name="contactAddress" formControlName="ContactAddress" placeholder="test@user.co.uk"/>
        <div>Prefered form of contact</div>
      </div>
    </div>

    <div class="input-container">
      <label class="input-label">Type of dispute<sup>*</sup></label>
      <div class="input-control">
        <select name="disputeType" formControlName="DisputeType">
          <option [value]="type" *ngFor="let type of DisputeTypes">{{type}}</option>
        </select>
        <div>Select the type of dispute you want to file</div>
      </div>
    </div>

    <div class="input-container">
      <label class="input-label">Date of discovery<sup>*</sup></label>
      <div class="input-control">
        <input type="date" name="spotted" formControlName="Spotted"/>
        <div>The date you first spotted this infraction</div>
        <clr-alert class="input-error" [clrAlertClosable]="false" clrAlertType="danger" *ngIf="DisputeForm.controls['Spotted'].hasError('required')">
          <clr-alert-item>This field is required!</clr-alert-item>
        </clr-alert>
      </div>
    </div>

    <div class="input-container">
      <label class="input-label">Number of infractions</label>
      <div class="input-control">
        <input type="number" name="infractions" formControlName="Infractions"/>
        <div>Number of infractions as a best estimate</div>
      </div>
    </div>

    <div class="input-container">
      <label class="input-label">Link to infraction<sup>*</sup></label>
      <div class="input-control">
        <input type="text" name="linkToInfraction" formControlName="LinkToInfraction" placeholder="www.harrisonbarker.co.uk"/>
        <div>A link to the infraction</div>
      </div>
    </div>

    <div class="input-container">
      <label class="input-label">Expected recourse<sup>*</sup></label>
      <div class="input-control">
        <select name="expectedRecourse" formControlName="ExpectedRecourse">
          <option [value]="type" *ngFor="let type of ExpectedRecourseTypes">{{type}}</option>
        </select>
        <div>The expected recourse or action to be taken for this dispute to be resolved</div>
      </div>
    </div>

    <div class="input-container" *ngIf="ExpectedRecourse == ExpectedRecourseTypes[1]">
      <label class="input-label">Charge (eth)</label>
      <div class="input-control">
        <input type="number" name="infractions" formControlName="Infractions" autocomplete="false"/>
        <div>${{externalService.CurrentPrice.getValue() * DisputeForm.value['ExpectedRecourseData']}} (this exchange rate may change)</div>
      </div>
    </div>

    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="ula" required value="ula" [formControl]="Accepted"/> <label>accept ula</label>
    </clr-checkbox-wrapper>

    <button class="btn btn-primary" [disabled]="DisputeForm.invalid || Accepted.invalid || Locked" (click)="Submit()">Submit</button>

  </form>
</div>
