<div>
  <div>
    <input clrInput type="file" name="upload" (change)="onFileChange($event)" #fileInput/>

    <button class="btn" (click)="fileInput.click()">Choose file</button>
    <div *ngIf="CurrentFile">{{CurrentFile.name}}</div>
  </div>

  <div>
    <button class="btn" (click)="Upload()" [disabled]="CurrentFile == null">Upload</button>

    <div class="progress top">
      <progress [value]="CurrentProgress" max="100"></progress>
    </div>

    <clr-alert clrAlertType="danger" *ngIf="Form.invalid">
      <clr-alert-item>
        <span class="alert-text">You need to upload the final version of your work to be signed and mastered</span>
      </clr-alert-item>
    </clr-alert>

    <clr-alert clrAlertType="success" *ngIf="Form.valid">
      <clr-alert-item>
        <span class="alert-text">A work has been uploaded for this application</span>
      </clr-alert-item>
    </clr-alert>

    <clr-alert clrAlertType="danger" *ngIf="UploadError">
      <clr-alert-item>
        <span class="alert-text">{{UploadError}}</span>
      </clr-alert-item>
    </clr-alert>
  </div>
</div>

<div>
  <button class="btn" (click)="GetSignedWork()" [disabled]="!FinishedUpload">Download Signed Work</button>
  <clr-alert clrAlertType="danger" *ngIf="DownloadError">
    <clr-alert-item>
      <span class="alert-text">{{DownloadError}}</span>
    </clr-alert-item>
  </clr-alert>
</div>
