{{Copyright | json}}
<div id="copyright-card">
  <div class="card">
    <div class="card-header">
      Work title <span class="badge badge-info">{{Copyright.Status}}</span>
    </div>
    <div class="card-block">
      <div class="card-title">{{Copyright.Id}}</div>
      <div class="card-text" id="copyright-info">
        <span>{{Copyright.RegisteredTransactionId}}</span>
        <span><b>Work hash</b> {{Copyright.Hash | slice:0:20}}...</span>
        <span><em><b>Registered on</b> {{Copyright.Registered | date}}</em></span>
        <span><b>Copyright id</b> {{Copyright.RightId}}</span>
        <br>
        GET data from blockchain and inject
      </div>

      <applications-view [Application]="application" *ngFor="let application of Copyright.AssociatedApplication"></applications-view>

    </div>
    <div class="card-footer">
      <button class="btn btn-sm">Restructure ownership</button>
    </div>
  </div>
</div>
