{{Copyright | json}}
<div id="copyright-card">
  <div class="card">
    <div class="card-header">
      Work title <copyright-status [status]="Copyright.Status"></copyright-status>
    </div>
    <div class="card-block">
      <div class="card-title">{{Copyright.Id}}</div>
      <div class="card-text" id="copyright-info">
        <span>{{Copyright.RegisteredTransactionId}}</span>
        <span><b>Work hash</b> {{Copyright.Hash | slice:0:20}}...</span>
        <span><em><b>Registered on</b> {{Copyright.Registered | date}}</em></span>
        <span><b>Copyright id</b> {{Copyright.RightId}}</span>
        <br>
        GET data from blockchain and inject
      </div>

      <applications-view [Application]="application" [ShowForms]="false" *ngFor="let application of Copyright.AssociatedApplication"></applications-view>

    </div>
    <div class="card-footer">
      <button class="btn btn-sm" (click)="RestructureOpen = true">Restructure ownership</button>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="RestructureOpen" clrModalSize="xl">
  <h3 class="modal-title">Restructure ownership</h3>
  <div class="modal-body">
    <cpy-restructure [RegisteredWork]="Copyright"></cpy-restructure>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="RestructureOpen = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="RestructureOpen = false">Ok</button>
  </div>
</clr-modal>
