:host {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  box-shadow: #323232a1 0px 2px 5px;
}
clr-spinner {
/*  position: absolute;*/
/*  right: 0;*/
/*  margin: 0.5rem;*/
  height: 1.25rem !important;
  width: 1.25rem !important;
}


#spinner-canvas {
  position: absolute;
  display: flex;
  right:0;
  top: 66px;
  margin-right: 1.25rem;
  /*width: 2.5rem;*/
  border: 0;
}
