<body class="main-container">
  <div class="container main-container">
    <alert-container></alert-container>
    <app-nav-menu></app-nav-menu>
    <router-outlet></router-outlet>
  </div>
</body>
<div *ngIf="buildNumber" id="build-number" class="text-muted">{{buildNumber}}</div>
<!--<footer>-->
<!--  <div id="footer">-->

<!--    <img src="assets/crpl.png" />-->

<!--    <div id="site-map">-->
<!--      <a [routerLink]="['/']">Index</a>-->
<!--      <a [routerLink]="['/search']">Search</a>-->
<!--      <a [routerLink]="['/about']">About</a>-->
<!--      <a [routerLink]="['/register']">Register copyright</a>-->
<!--      <a [routerLink]="['/dashboard']">Dashboard</a>-->
<!--      <a [routerLink]="['/']">Account preferences</a>-->
<!--    </div>-->
<!--    <div id="legal">-->

<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
