<div class="content-container">
  <div class="card" id="settings-card">
    <div class="card-block">
      <p>{{UserAccount.FirstName}} {{UserAccount.LastName}}</p>
      <div class="card-text">
        <p class="text-muted">{{UserAccount.Email}}</p>
        <p class="text-muted">{{UserAccount.DialCode}} {{UserAccount.PhoneNumber}}</p>
      </div>
      <div class="flex-between">
        <div><a target="_blank" [href]="UserAccount.WalletAddressUri">{{UserAccount.WalletPublicAddress}}</a></div>
        <button class="btn btn-sm" (click)="TransferModel = true">transfer wallet</button>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-info" (click)="EditAccount()">edit account info</button>
      <button class="btn btn-sm btn-danger" (click)="Delete()">delete account</button>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="TransferModel">
  <h3 class="modal-title">I have a nice title</h3>
  <div class="modal-body">
    <input clrInput placeholder="address" name="address" [(ngModel)]="WalletAddress" />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="TransferModel = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="Submit()">Submit</button>
  </div>
</clr-modal>
