<div id="application-card">
  <div class="card">
    <div class="card-block">
      <div class="card-title" id="copyright-title">
        <div>Copyright registration for <em>"{{Application.Title}}"</em></div>
        <application-status [status]="Application.Status"></application-status>
      </div>
      <div class="flex-between">
        <p class="card-text text-muted"><em>{{Application.Id}}</em></p>
        <a style="margin-right: 0.5rem"><em>{{Application.AssociatedWork?.RightId}}</em></a>
      </div>
      <div style="display: flex">
        <p class="card-text" style="margin-right: 0.5rem"><b>created:</b> {{Application.Created | date:'medium'}}</p>
        <p class="card-text"><b>modified:</b> {{Application.Modified | date:'medium'}}</p>
      </div>

      <div>
        <clr-timeline *ngIf="Application.AssociatedWork && WorkStatus != 5">

          <clr-timeline-step [clrState]="WorkStatus == 0 ? timelineCurrent : timelineSuccess">
            <clr-timeline-step-header>{{Application?.AssociatedWork?.Created | date:'short'}}</clr-timeline-step-header>
            <clr-timeline-step-title>Work created</clr-timeline-step-title>
            <clr-timeline-step-description>We save your work when you submit your registration application, it is not saved onto the blockchain at this point</clr-timeline-step-description>
          </clr-timeline-step>

          <clr-timeline-step [clrState]="WorkStatus == 1 ? timelineProcessing : Application.AssociatedWork.Status >= 2 ? timelineSuccess : timelineNot">
            <clr-timeline-step-header>
              <span *ngIf="WorkStatus == 0">Future</span> <span *ngIf="WorkStatus == 1">Soon</span> <span *ngIf="Application.AssociatedWork.Status >= 2">Past</span>
            </clr-timeline-step-header>

            <clr-timeline-step-title *ngIf="WorkStatus == 1">Work being verified</clr-timeline-step-title>
            <clr-timeline-step-title *ngIf="Application.AssociatedWork.Status >= 2">Work verified</clr-timeline-step-title>

            <clr-timeline-step-description *ngIf="WorkStatus == 1">We are verifying the authenticiy of the uploaded work and checking over your application</clr-timeline-step-description>
            <clr-timeline-step-description *ngIf="Application.AssociatedWork.Status >= 2">We have verified your work and congratulations everything is great!</clr-timeline-step-description>
          </clr-timeline-step>

          <clr-timeline-step [clrState]="WorkStatus == 3 ? timelineProcessing : Application.AssociatedWork.Status >= 3 ? timelineSuccess : Application.AssociatedWork.Status == 2 ? timelineCurrent : timelineNot">
            <clr-timeline-step-header>
              <span *ngIf="WorkStatus == 4">{{Application?.AssociatedWork?.Registered | date:'short'}}</span> <span *ngIf="WorkStatus != 4">Future</span>
            </clr-timeline-step-header>

            <clr-timeline-step-title *ngIf="WorkStatus == 3">Transaction sent</clr-timeline-step-title>
            <clr-timeline-step-title *ngIf="WorkStatus != 3">Work registration</clr-timeline-step-title>

            <clr-timeline-step-description *ngIf="WorkStatus == 3">The registration transaction has been sent, now we are waiting for the registered event from the blockchain</clr-timeline-step-description>
            <clr-timeline-step-description *ngIf="WorkStatus == 4">Your work has been saved onto the blockchain</clr-timeline-step-description>
          </clr-timeline-step>
        </clr-timeline>

        <div><img width="50%" src="https://i.giphy.com/media/y91GwVNt9qxHO/giphy.webp" *ngIf="WorkStatus == 3"/></div>

        <clr-alert clrAlertType="danger" [clrAlertClosable]="false" *ngIf="WorkStatus == 5">
          <clr-alert-item>
            <span class="alert-text">This copyright registration was rejected for some reason!</span>
          </clr-alert-item>
        </clr-alert>

      </div>

      <div class="card-text" *ngIf="WorkStatus != 3">
        <div id="copyright-meta">
          <pre [innerHtml]="Meta"></pre>
        </div>
      </div>
    </div>
  </div>
</div>
