<input placeholder="hello world" name="search" [(ngModel)]="SearchKeyword"/>

<div id="filter-sort-bar">
  <select clrSelect name="options" [(ngModel)]="SortBy">
    <option [value]="sortable" *ngFor="let sortable of Sortables">{{sortable}}</option>
  </select>

  <clr-date-container>
    <label>registered after</label>
    <input type="date" clrDate name="RegisteredAfter" [(ngModel)]="RegisteredAfter" />
  </clr-date-container>

  <clr-date-container>
    <label>registered before</label>
    <input type="date" clrDate name="RegisteredBefore" [(ngModel)]="RegisteredBefore" />
  </clr-date-container>
</div>

<button class="btn" (click)="Search()">search</button>

{{SortBy | json}}
