<clr-timeline>
  <clr-timeline-step [clrState]="timelineSuccess">
    <clr-timeline-step-header>{{Application.Created | date:'short'}}</clr-timeline-step-header>
    <clr-timeline-step-title>Fill in applicaiton</clr-timeline-step-title>
  </clr-timeline-step>

  <clr-timeline-step [clrState]="timelineSuccess">
    <clr-timeline-step-header>{{Application.Modified | date:'short'}}</clr-timeline-step-header>
    <clr-timeline-step-title>Submit application</clr-timeline-step-title>
  </clr-timeline-step>

  <clr-timeline-step [clrState]="timelineProcessing">
    <clr-timeline-step-header>Now</clr-timeline-step-header>
    <clr-timeline-step-title>Verification</clr-timeline-step-title>
    <clr-timeline-step-description></clr-timeline-step-description>
  </clr-timeline-step>

  <clr-timeline-step [clrState]="timelineNot">
    <clr-timeline-step-header>Not too long :)</clr-timeline-step-header>
    <clr-timeline-step-title>Copyright registered</clr-timeline-step-title>
  </clr-timeline-step>
</clr-timeline>

<cpy-registration-view [Application]="Application"></cpy-registration-view>
