<div id="contain" class="container">
  <section cds-theme="dark">
    <clr-tabs>
      <clr-tab>
        <button clrTabLink (click)="ResetSelected()">Copyrights</button>
        <clr-tab-content>
          <div class="content-container">
            <nav class="sidenav">
              <section class="sidenav-content">
                <section class="nav-group collapsible">
                  <input id="copyrightsNav" type="checkbox"/> <label for="copyrightsNav">Copyrights</label>
                  <ul class="nav-list">
                    <li *ngFor="let right of RegisteredCopyrights | async">
                      <a class="nav-link" [class.active]="right == Selected" (click)="Select(right, false)">
                        <span *ngIf="right.Status == 4" style="margin-right:0.2rem">{{right.Meta?.Title}}</span><span class="badge badge-danger" *ngIf="NumberOfDisputes(right) > 0">{{NumberOfDisputes(right)}}</span>
                        <span *ngIf="right.Status == 6"><span style="margin-right:0.2rem">{{right.Title}}</span><copyright-status [status]="6"></copyright-status></span>
                      </a>
                    </li>
                  </ul>
                </section>
                <section class="nav-group collapsible">
                  <input id="ApplicationsNav" type="checkbox"/> <label for="ApplicationsNav">Submitted Applications</label>
                  <ul class="nav-list">
                    <li *ngFor="let application of SubmittedApplications | async"><a class="nav-link" [class.active]="application == Selected" (click)="Select(application, true)">
                      <application-type [Application]="application"></application-type>
                    </a></li>
                  </ul>
                </section>
                <section class="nav-group collapsible">
                  <input id="PartialApplicationsNav" type="checkbox"/> <label for="PartialApplicationsNav">Partial Applications</label>
                  <ul class="nav-list">
                    <li *ngFor="let application of PartialApplications | async"><a class="nav-link" [class.active]="application == Selected" (click)="Select(application, true)">
                      <application-type [Application]="application"></application-type>
                    </a></li>
                  </ul>
                </section>
                <section class="nav-group collapsible">
                  <input id="CompletedApplicationsNav" type="checkbox"/> <label for="CompletedApplicationsNav">Completed Applications</label>
                  <ul class="nav-list">
                    <li *ngFor="let application of CompletedApplications | async"><a class="nav-link" [class.active]="application == Selected" (click)="Select(application, true)">
                      <application-type [Application]="application"></application-type>
                    </a></li>
                  </ul>
                </section>
                <section class="nav-group collapsible">
                  <input id="FailedApplicationsNav" type="checkbox"/> <label for="FailedApplicationsNav">Failed Applications</label>
                  <ul class="nav-list">
                    <li *ngFor="let application of FailedApplications | async"><a class="nav-link" [class.active]="application == Selected" (click)="Select(application, true)">
                      <application-type [Application]="application"></application-type>
                    </a></li>
                  </ul>
                </section>
              </section>
            </nav>
            <div class="content-area">
              <div *ngIf="!Selected" class="centre-align">
                <img src="https://i.giphy.com/media/baPIkfAo0Iv5K/giphy.webp"/>
              </div>
              <div *ngIf="Selected">
                <copyright-view [Copyright]="SelectedAsCopyright" *ngIf="!IsApplication && Selected && SelectedAsCopyright.Status == 4"></copyright-view>
                <copyright-view-expired [Copyright]="SelectedAsCopyright" *ngIf="!IsApplication && Selected && SelectedAsCopyright.Status == 6"></copyright-view-expired>
                <applications-view [Application]="SelectedAsApplication" [ShowForms]="true" *ngIf="IsApplication"></applications-view>
              </div>
            </div>
          </div>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="ResetSelected()">Disputes</button>
        <clr-tab-content>
          <div class="content-container">
            <nav class="sidenav">
              <section class="sidenav-content">
                <section class="nav-group">
                  <input id="OpenDisputes" type="checkbox" />
                  <label for="OpenDisputes">Open disputes</label>
                  <ul class="nav-list">
                    <li *ngFor="let dispute of OpenDisputes | async"><a class="nav-link" [class.active]="dispute == Selected" (click)="Select(dispute, true)">{{dispute.AssociatedWork?.Title}}</a></li>
                  </ul>
                </section>
                <section class="nav-group">
                  <input id="ClosedDisputes" type="checkbox" />
                  <label for="ClosedDisputes">Closed disputes</label>
                  <ul class="nav-list">
                    <li *ngFor="let dispute of ClosedDisputes | async"><a class="nav-link" [class.active]="dispute == Selected" (click)="Select(dispute, true)">{{dispute.AssociatedWork?.Title}}</a></li>
                  </ul>
                </section>
              </section>
            </nav>
            <div class="content-area">
              <div *ngIf="!Selected" class="centre-align">
                <img src="https://i.giphy.com/media/baPIkfAo0Iv5K/giphy.webp"/>
              </div>
              <div *ngIf="Selected">
                <applications-view [Application]="SelectedAsApplication" [ShowForms]="true" [Cancelable]="false" *ngIf="IsApplication"></applications-view>
              </div>
            </div>
          </div>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </section>
</div>

{{Selected | json}}
