<form [formGroup]="Form">

  <clr-input-container>
    <label class="clr-control-label">Total shares</label> <input clrInput name="totalShares" type="=number" formControlName="TotalShares"/>
  </clr-input-container>

  <p class="p3 text-muted"><em><b>(You need to use all shares for a valid ownership structure)</b></em></p>

  <div formArrayName="Stakes" *ngFor="let stake of Stakes; let i = index;trackBy:trackByIdx">
    <ownership-stake-form [isDefault]="i==0" [Index]="i" [Form]="stake"></ownership-stake-form>
  </div>

  <button (click)="AddStake()" class="btn">Add</button>

  <clr-alert clrAlertType="danger" [clrAlertClosable]="false" *ngIf="StakeArray.hasError('InvalidShareStructure')">
    <clr-alert-item>
      <span class="alert-text">This share structure is invalid, make sure all shares are allocated</span>
    </clr-alert-item>
  </clr-alert>

  <clr-alert clrAlertType="success" [clrAlertClosable]="false" *ngIf="!StakeArray.hasError('InvalidShareStructure')">
    <clr-alert-item>
      <span class="alert-text">Share structure is valid all shares allocated</span>
    </clr-alert-item>
  </clr-alert>

</form>

<!--{{Form.value | json}}-->

<!--errors-->

<!--{{Form.errors | json}}-->

<!--{{StakeArray.errors | json}}-->
