<form [formGroup]="Form">
  <div id="total-shares">
    <h4>There are a total of</h4>
    <input clrInput name="totalShares" type="=number"/>
    <h4>shares avaliable</h4>
  </div>
  <p class="p3 text-muted"><em><b>(You need to use all shares for a valid ownership structure)</b></em></p>

<!--  <ownership-stake-input [isDefault]="i == 0" [MaximumShares]="CalculateMaximumShares(i)" (ngModelChange)="StakeChanged(i)" [ngModel]="OwnershipStakes[i]" *ngFor="let x of OwnershipStakes; let i = index;trackBy:trackByIdx" (DestroyEmit)="DestroyStake(i)"></ownership-stake-input>-->

  <div formArrayName="Stakes" *ngFor="let stake of Stakes; let i = index">
    <ownership-stake-input [isDefault]="i==0" [Index]="i" [Form]="stake"></ownership-stake-input>
  </div>

  <button (click)="AddStake()" class="btn">Add</button>

  <clr-alert clrAlertType="danger" [clrAlertClosable]="false" *ngIf="StakeArray.invalid">
    <clr-alert-item>
      <span class="alert-text">This share structure is invalid, make sure all shares are allocated</span>
    </clr-alert-item>
  </clr-alert>

  <clr-alert clrAlertType="success" [clrAlertClosable]="false" *ngIf="StakeArray.valid">
    <clr-alert-item>
      <span class="alert-text">Share structure is valid all shares allocated</span>
    </clr-alert-item>
  </clr-alert>

</form>

{{Form.value | json}}

errors

{{Form.errors | json}}
